In [1]:
import sqlalchemy
%load_ext sql
%sql postgresql://postgres:admin@localhost/codewars

SQL Notes:

You will be given a table, numbers, with one column number.

Return a table with a column is_even containing "Even" or "Odd" depending on number column values.

numbers table schema
- number INT

output table schema
- is_even STRING


Sample Tests

```
describe :numbers do
  it "sample tests" do
    numbers = DB[:numbers]
    numbers.delete()
    numbers.insert(:number => 2)
    numbers.insert(:number => 0)
    numbers.insert(:number => -7)
    numbers.insert(:number => 1)
    results = run_sql.to_a
  
    expect(results[0][:is_even]).to eq "Even"
    expect(results[1][:is_even]).to eq "Even"
    expect(results[2][:is_even]).to eq "Odd"
    expect(results[3][:is_even]).to eq "Odd"
  end
end
```

In [2]:
%%sql

DROP TABLE IF EXISTS numbers;

 * postgresql://postgres:***@localhost/codewars
Done.

[]

In [3]:
%%sql

CREATE TABLE numbers (id serial PRIMARY KEY, number int);

 * postgresql://postgres:***@localhost/codewars
Done.

[]

In [4]:
%%sql

insert into numbers(number)
values
    (2),
    (0),
    (-7),
    (1);

 * postgresql://postgres:***@localhost/codewars
4 rows affected.

[]

In [18]:
%%sql

SELECT number,
  CASE
    WHEN number % 2 = 0 THEN 'Even'
    ELSE 'Odd'
  END 
  AS is_even
FROM numbers;

 * postgresql://postgres:***@localhost/codewars
4 rows affected.

[(2, 'Even'), (0, 'Even'), (-7, 'Odd'), (1, 'Odd')]