In [1]:
import sqlalchemy
%load_ext sql
%sql postgresql://postgres:admin@localhost/codewars

This function should test if the factor is a factor of base.

Return true if it is a factor or false if it is not.

About factors

Factors are numbers you can multiply together to get another number.

2 and 3 are factors of 6 because: 2 * 3 = 6

You can find a factor by dividing numbers. If the remainder is 0 then the number is a factor.

You can use the mod operator (%) in most languages to check for a remainder

For example 2 is not a factor of 7 because: 7 % 2 = 1

Note: base is a non-negative number, factor is a positive number.

Sample Tests

```
DB[:kata].multi_insert [
  {base: 10, factor: 2},
  {base: 63, factor: 7},
  {base: 2450, factor: 5},
  {base: 24612, factor: 3},
  {base: 9, factor: 2},
  {base: 653, factor: 7},
  {base: 2453, factor: 5},
  {base: 24617, factor: 3},
]

compare_with expected do end
```

```
-- you will be given a table 'kata' with columns 'id', 'base', and 'factor'. 
-- return the 'id' and your result in a column named 'res'.
```

In [95]:
%%sql

DROP TABLE IF EXISTS kata;

 * postgresql://postgres:***@localhost/codewars
Done.

[]

In [96]:
%%sql

CREATE TABLE kata (id serial PRIMARY KEY, base int, factor int);

 * postgresql://postgres:***@localhost/codewars
Done.

[]

In [97]:
%%sql

INSERT INTO kata (base, factor)
VALUES
    (10, 2),
    (63, 7),
    (2450, 5),
    (24612, 3),
    (9, 2),
    (653, 7),
    (2453, 5),
    (24617, 3);

 * postgresql://postgres:***@localhost/codewars
8 rows affected.

[]

In [98]:
%%sql

SELECT * FROM kata;

 * postgresql://postgres:***@localhost/codewars
8 rows affected.

[(1, 10, 2),
 (2, 63, 7),
 (3, 2450, 5),
 (4, 24612, 3),
 (5, 9, 2),
 (6, 653, 7),
 (7, 2453, 5),
 (8, 24617, 3)]

In [99]:
%%sql 

ALTER TABLE kata
ADD COLUMN res boolean;

UPDATE kata
set res = base % factor = 0;

 * postgresql://postgres:***@localhost/codewars
Done.
8 rows affected.

[]

In [100]:
%%sql

SELECT id, res FROM kata;

 * postgresql://postgres:***@localhost/codewars
8 rows affected.

[(1, True),
 (2, True),
 (3, True),
 (4, True),
 (5, False),
 (6, False),
 (7, False),
 (8, False)]

In [102]:
%%sql 

select id, base % factor = 0 as res from kata

 * postgresql://postgres:***@localhost/codewars
8 rows affected.

[(1, True),
 (2, True),
 (3, True),
 (4, True),
 (5, False),
 (6, False),
 (7, False),
 (8, False)]