In [1]:
import sqlalchemy
%load_ext sql
%sql postgresql://postgres:admin@localhost/codewars

Given a demographics table in the following format:

** demographics table schema **

id

name

birthday

race

you need to return the same table where all letters are lowercase in the race column.

Sample Tests

```
results = run_sql

describe :query do
  describe "should contain keywords" do
    it "should contain SELECT" do
      expect($sql.upcase).to include("SELECT")
    end

    it "should contain FROM" do
      expect($sql.upcase).to include("FROM")
    end
  end

  describe :columns do
    it "should return 4 column" do
      expect(results.first.keys.count).to eq 4
    end
    
    it "should return a race column" do
      expect(results.first.keys).to include(:race)
    end

    it "should return a name column" do
      expect(results.first.keys).to include(:name)
    end
  end
end
```

In [2]:
%%sql

DROP TABLE IF EXISTS demographics;

 * postgresql://postgres:***@localhost/codewars
Done.

[]

In [3]:
%%sql

CREATE TABLE demographics (id serial PRIMARY KEY,
                           name varchar(255),
                           birthday date,
                          race text);

 * postgresql://postgres:***@localhost/codewars
Done.

[]

In [5]:
%%sql

insert into demographics (name, birthday, race)
values
    ('Riley', '1974-08-10',	'native hawaiian or other pacific islander');

 * postgresql://postgres:***@localhost/codewars
1 rows affected.

[]

In [11]:
%%sql

select * from demographics;

 * postgresql://postgres:***@localhost/codewars
1 rows affected.

[(1, 'Riley', datetime.date(1974, 8, 10), 'native hawaiian or other pacific islander')]

In [10]:
%%sql 

select name, birthday, upper(race) as race
from demographics;

 * postgresql://postgres:***@localhost/codewars
1 rows affected.

[('Riley', datetime.date(1974, 8, 10), 'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER')]