```
Your Job
Find the sum of all multiples of n below m

Keep in Mind
n and m are natural numbers (positive integers)
m is excluded from the multiples
Examples
sumMul(2, 9)   ==> 2 + 4 + 6 + 8 = 20
sumMul(3, 13)  ==> 3 + 6 + 9 + 12 = 30
sumMul(4, 123) ==> 4 + 8 + 12 + ... = 1860
sumMul(4, -7)  ==> "INVALID"
```

In [2]:
def sum_mul(n, m):
    if n * m > 0:
        return sum(i for i in range(n, m) if i % n == 0)
    return 'INVALID'

In [4]:
def sum_mul(n, m):
    if n * m > 0:
        return sum(range(n, m, n))
    return 'INVALID'

In [6]:
sum_mul(2, 9)

20