In [2]:
import sqlalchemy
%load_ext sql
%sql postgresql://postgres:admin@localhost/shop

In [25]:
# check for all existing tables

In [46]:
%%sql

SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
5 rows affected.

[('public', 'product', 'postgres', None, True, False, True, False),
 ('public', 'product_photo', 'postgres', None, True, False, True, False),
 ('public', 'customer', 'postgres', None, True, False, True, False),
 ('public', 'cart', 'postgres', None, True, False, True, False),
 ('public', 'cart_product', 'postgres', None, False, False, True, False)]

In [35]:
%%sql

create table customer(
    id serial primary key,
    name varchar(255),
    phone varchar(30),
    email varchar(255)
);

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
Done.

[]

In [38]:
%%sql

create table product(
    id serial primary key,
    name varchar(255),
    description text,
    price int
)

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
Done.

[]

In [40]:
%%sql

create table product_photo(
    id serial primary key,
    url varchar(255),
    product_id int references product(id)
);

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
Done.

[]

References

- [PostgreSQL Show Tables](https://www.postgresqltutorial.com/postgresql-show-tables/)

In [42]:
%%sql

create table cart(
    customer_id int references customer(id),
    id serial primary key
)

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
Done.

[]

In [44]:
%%sql 

create table cart_product(
    cart_id int references cart(id),
    product_id int references product(id)
);

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
Done.

[]

In [57]:
%%sql

SELECT * FROM customer;

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
2 rows affected.

[(1, 'Petr', '924', 'petr@gmail.com'), (2, 'Mike', '995', 'mike@gmail.com')]

In [54]:
%%sql

INSERT INTO customer (name, phone, email)
VALUES ('Petr', '924', 'petr@gmail.com');

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
1 rows affected.

[]

In [56]:
%%sql

INSERT INTO customer (name, phone, email)
VALUES ('Mike', '995', 'mike@gmail.com');

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
1 rows affected.

[]

In [58]:
%%sql

insert into product (name, description, price)
values
    ('iPhone', 'super device', 100000),
    ('iWatch', 'super device', 50000);

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
2 rows affected.

[]

In [60]:
%%sql

select * from product;

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
2 rows affected.

[(1, 'iPhone', 'super device', 100000), (2, 'iWatch', 'super device', 50000)]

In [62]:
%%sql

insert into product_photo (url, product_id)
values
    ('iPhone url', 1);

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
1 rows affected.

[]

In [64]:
%%sql

select * from product_photo;

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
1 rows affected.

[(1, 'iPhone url', 1)]

In [77]:
%%sql 

select * from product_photo;

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
1 rows affected.

[(1, 'iPhone url', 1)]

In [80]:
%%sql 

select p.* from product p;

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
2 rows affected.

[(1, 'iPhone', 'super device', 100000), (2, 'iWatch', 'super device', 50000)]

In [83]:
%%sql

select pp.*, p.name from product_photo pp
left join product p
on p.id=pp.product_id;

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
1 rows affected.

[(1, 'iPhone url', 1, 'iPhone')]

In [84]:
%%sql

select pp.*, p.name from product_photo pp
right join product p
on p.id=pp.product_id;

   postgresql://postgres:***@localhost/codewars
 * postgresql://postgres:***@localhost/shop
2 rows affected.

[(1, 'iPhone url', 1, 'iPhone'), (None, None, None, 'iWatch')]

In [3]:
%%sql

select pp.*, p.name from product_photo pp
inner join product p
on p.id=pp.product_id;

 * postgresql://postgres:***@localhost/shop
1 rows affected.

[(1, 'iPhone url', 1, 'iPhone')]